@model SupplementDetailsServiceModel
@{
    ViewData["Title"] = Model.Name;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/SupplementDetails.css" />
    </environment>
</head>

<main role="main">
    <article class="card-50">
        <figure>
            <a href="" title="Buy">
                <span class="ribbon-buy">
                    -20%
                </span>
                <img src="@Model.ImageUrl" alt="@Model.Name">
            </a>
        </figure>
        <div class="flex-content">
            <h2>
                @Model.Name
            </h2>
            <p class="user">
                <a class="button" href="#" title="Buy">
                    @Model.Price
                </a>
            </p>
            <ul>
                <li>
                    <strong title="Type">Type:</strong>
                    Soccer
                </li>
                <li><strong title="InStock">In Stock:</strong> @Model.inStock</li>
                <li><strong title="SupplementType">Supplement Type:</strong> @Model.SupplementType</li>
                <li><strong title="Price">Price:</strong> @Model.Price</li>
            </ul>
            <p>
                @Model.Description
            </p>
        </div>
    </article>
</main>
