@model SupplementListingViewModel
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/store.css" />
    </environment>
</head>

<div class="wrapper">
    <div class="desc">
        <h1>Our products</h1>
        <p>Here you can view our supplements catalog</p>

        <div class="content">
            <!-- content here -->
            <div class="product-grid product-grid--flexbox">
                <div class="product-grid__wrapper">
                    @foreach (var supplement in Model.Supplements)
            {
                        <div class="product-grid__product-wrapper">
                            <div class="product-grid__product">
                                <div class="product-grid__img-wrapper">
                                    <img src="@supplement.ImageUrl" alt="Img" class="product-grid__img" />
                                </div>
                                <span class="product-grid__title">@supplement.Name</span>
                                <span class="product-grid__price">$@supplement.Price</span>
                                <div class="product-grid__extend-wrapper">
                                    <div class="product-grid__extend">
                                        <p class="product-grid__description">@supplement.Description</p>
                                        <a asp-area="Store" asp-controller="Store" asp-action="Details" asp-route-id="@supplement.Id" asp-route-title="@supplement.Name.ToFriendlyUrl()" class="btn btn-success">Details</a>
                                        <a asp-area="" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@supplement.Id" class="product-grid__btn product-grid__add-to-cart">Add</a>
                                        <span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Add to cart</span>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.TotalSupplements > Model.Supplements.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}

